# 전 세계 주식 데이터 수집하기

퀀트 투자의 장점은 데이터만 있다면 동일한 투자 전략을 전 세계 모든 국가에 적용할 수 있다는 점이다. 이번 장에서는 전 세계 종목의 티커 수집 및 주가, 재무제표, 가치지표를 다운로드 하는 방법에 대해 알아보겠다.

## 대략적인 방법 요약

- 유료 데이터 서비스를 사용하는 방법
    - Tiingo 서비스를 이용해서 받는 방법
        - 월 $10에 미국과 중국 데이터를 API로 사용 가능 (지금은 월 $30)
        - 무료는 하루 1000 requests (1시간 50 requests) 가능
        - 가입 후 API token을 받은 후 tiingo패키지를 사용하면 된다.
- 크롤링을 이용해서 받는 방법
    - 종목정보는 Investing에서 받아온다.
    - 주가정보는 yfinance 패키지를 사용해서 야후 파이낸스에서 받아온다.
    - 재무제표는 yahooquery 패키지를 사용해서 야후 파이낸스에서 받아온다.
 
기본적으로 웹사이트는 크롤링은 좋아하지 않는다. 

저자의 github에 가보면 2022년 말 야후 파이낸스의 정책이 바뀌어서 이전에 야후 데이터를 불러오는 패키지들이 정상적으로 동작하지 않는다는 내용을 볼 수 있다.
yfinance와 yahooquery 패키지가 해당 문제를 해결하새 사용할 수 있게 되었다고 한다.

네이버도 홈페이지 개편으로 동적 크롤링 방법을 변경하였다는 내용을 볼 수 있다.

https://github.com/hyunyulhenry/quant_py/tree/main

## 유료 데이터 벤더 이용하기

미국 시장의 데이터만 필요할 경우 유료 데이터 벤더를 이용하는 것도 좋은 방법이다. 미국에는 금융 데이터를 API로 제공하는 수많은 업체가 있으며, tiingo의 경우는 월 $10만 지불하면 미국과 중국의 4만여개 종목에 대한 데이터를 API 형태로 받을 수 있다. 이는 상장폐지된 종목을 커버할 뿐만 아니라, API를 이용하므로 크롤링과는 비교할 수 없는 속도로 데이터를 받을 수 있다는 장점이 있다. 이 외에도 Alpha Vantage, Quandl, Polygon 등 수많은 데이터 벤더가 존재한다.

![]( image/data_global/tiingo.png)<br>

tiingo는 무료 계정도 하루 1,000회까지 API 요청을 할 수 있으며, 파이썬에서 사용할 수 있는 패키지도 있으므로 이를 사용해 데이터를 수집해보도록 하겠다.

### 가입 및 API token 받기

먼저 https://api.tiingo.com/ 사이트에 접속하여 우측 상단의 [Sign-up]을 클릭해 회원가입을 한다. 그 후 로그인을 한 후 우측 상단에서 본인의 ID를 클릭한 후 [Account]를 선택, 좌측 메뉴의 [API] 부분에서 [Token]을 클릭하면 본인의 API token을 확인할 수 있다.

![]( image/data_global/token.png)<br>

발급받은 토큰을 PC에 저장할 경우, keyring 패키지를 이용하면 안전하게 저장할 수 있다. 패키지를 이용해 암호나 키 값을 저장하는 법은 다음과 같다.

In [ ]:
import keyring

keyring.set_password('System', 'User Name', 'Password')

[System]에는 시스템 종류, [User Name]에는 본인의 이름, [Password]에는 발급받은 API Key를 입력한다. 한번 입력된 값은 계속 저장되어 있다. 저장한 키를 불러오는 법은 다음과 같다.

In [ ]:
api_key = keyring.get_password('System', 'User Name')

이제 'Sysyem'에는 'tiingo', 'User Name'에는 본인의 이름, 'Password'에는 위에서 발급받은 API Token을 입력해 토큰을 저장하자.

In [34]:
import keyring

keyring.set_password('tiingo', 'User Name', 'API Key')

### 데이터 다운로드

tiingo 패키지를 이용해 데이터를 받아보도록 하겠다. 데이터를 받기위해 API 접속환경을 셋팅한다.

In [38]:
from tiingo import TiingoClient
import pandas as pd
import keyring

api_key = keyring.get_password('tiingo', 'judaigi')
config = {}
config['session'] = True
config['api_key'] = api_key
client = TiingoClient(config)

API token을 불러온 후, 접속환경에 해당하는 config에 이를 입력한다.

먼저 tiingo에서 제공하는 종목은 어떠한 것이 있는지 티커 정보들을 확인해보도록 하자.

In [40]:
tickers = client.list_stock_tickers()
tickers_df = pd.DataFrame.from_records(tickers)

tickers_df.head()

   ticker exchange assetType priceCurrency   startDate     endDate
0    -P-H     NYSE     Stock           USD
1    -P-S     NYSE     Stock           USD  2018-08-22  2023-05-05
2  000001      SHE     Stock           CNY  2007-01-04  2024-03-01
3  000002      SHE     Stock           CNY  2007-01-04  2024-03-01
4  000003      SHE     Stock           CNY

`list_stock_tickers()` 메서드를 통해 티커 정보를 받아올 수 있다. ticker(티커), exchange(거래소), assetType(주식 종류), priceCurrency(거래 통화), startDate(시작일), endDate(마감일) 정보가 표시된다. 거래소와 통화 별 종목이 몇개가 있는지 확인해보도록 하자.

In [42]:
tickers_df.groupby(['exchange', 'priceCurrency'])['ticker'].count()

exchange   priceCurrency
           USD               2452
AMEX       USD                 80
ASX        AUD                164
           USD               2115
BATS       USD                 18
CSE        USD                 32
EXPM       USD               2378
LSE        USD                 12
NASDAQ     USD              12672
NMFQS      USD                 36
NYSE       USD               7781
NYSE ARCA  USD                 62
NYSE MKT   USD                471
NYSE NAT   USD                  3
OTCBB      USD                646
OTCCE      USD               1096
OTCGREY    USD               4048
OTCMKTS    USD               1187
OTCQB      USD               1237
OTCQX      USD                751
PINK       USD              15381
SHE        CNY               3386
           HKD                 12
SHEB       HKD                 42
SHG        CNY               2954
           USD                  6
SHGB       USD                 44
Name: ticker, dtype: int64

이 중 마이너 거래소나 장외 거래소의 경우 정보를 받아도 우리나라의 증권사를 통해서는 실제로 거래를 할 수 없을수도 있다. 따라서 실제 거래가 가능한 거래소 데이터만 필터링한 후 해당 종목들을 받는 것이 효율적이다.

각 종목의 상세 정보를 확인해보도록 하며, 예로써 애플(AAPL)을 이용한다.

In [44]:
ticker_metadata = client.get_ticker_metadata("AAPL")
print(ticker_metadata)

{'ticker': 'AAPL', 'name': 'Apple Inc', 'description': "Apple Inc. (Apple) designs, manufactures and markets mobile communication and media devices, personal computers, and portable digital music players, and a variety of related software, services, peripherals, networking solutions, and third-party digital content and applications. The Company's products and services include iPhone, iPad, Mac, iPod, Apple TV, a portfolio of consumer and professional software applications, the iOS and OS X operating systems, iCloud, and a variety of accessory, service and support offerings. The Company also delivers digital content and applications through the iTunes Store, App StoreSM, iBookstoreSM, and Mac App Store. The Company distributes its products worldwide through its retail stores, online stores, and direct sales force, as well as through third-party cellular network carriers, wholesalers, retailers, and value-added resellers. In February 2012, the Company acquired app-search engine Chomp.", 'startDate': '1980-12-12', 'endDate': '2024-06-27', 'exchangeCode': 'NASDAQ'}

`get_ticker_metadata()` 메서드 내에 티커를 입력하면 티커, 종목명, 사업내역 등 대략적인 정보를 받아올 수 있다.

이제 주가를 받아보도록 하자.

In [46]:
historical_prices = client.get_dataframe("AAPL",
                                         startDate='2017-08-01',
                                         frequency='daily')

historical_prices.head()

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
date,,,,,,,,,,,,
2017-08-01 00:00:00+00:00,150.05,150.22,148.4100,149.10,24725526,35.108768,35.148545,34.725040,34.886487,98902104,0.0,1.0
2017-08-02 00:00:00+00:00,157.14,159.75,156.1600,159.28,69222793,36.767689,37.378378,36.538389,37.268408,276891172,0.0,1.0
2017-08-03 00:00:00+00:00,155.57,157.21,155.0200,157.05,26000738,36.400340,36.784068,36.271651,36.746631,104002952,0.0,1.0
2017-08-04 00:00:00+00:00,156.39,157.40,155.6900,156.07,20349532,36.592204,36.828524,36.428418,36.517330,81398128,0.0,1.0
2017-08-07 00:00:00+00:00,158.81,158.92,156.6701,157.06,21870321,37.158437,37.184175,36.657742,36.748971,87481284,0.0,1.0

`get_dataframe()` 메서드 내에 티커를 입력하면 close(종가), high(고가), low(저가), open(시가), volumne(거래량) 및 수정주가와 divCash(현금 배당), splitFactor(주식분할 조정계수)까지 데이터를 받을 수 있다.

이번에는 일별 가치지표를 받아보도록 하자. (무료 계정의 경우 다우존스 30 지수에 포함되는 종목 정보만 제공한다.)

In [48]:
fundamentals_daily = client.get_fundamentals_daily('AAPL')
fundamentals_daily_df = pd.DataFrame.from_records(fundamentals_daily)

fundamentals_daily_df.head()

,date,marketCap,enterpriseVal,peRatio,pbRatio,trailingPEG1Y
0,2021-06-28T00:00:00.000Z,2.249159e+12,2.309254e+12,25.911372,34.990027,0.255188
1,2021-06-29T00:00:00.000Z,2.275025e+12,2.335120e+12,26.209358,35.392420,0.258122
2,2021-06-30T00:00:00.000Z,2.285538e+12,2.345633e+12,26.330476,35.555973,0.259315
3,2021-07-01T00:00:00.000Z,2.290711e+12,2.350806e+12,26.390073,35.636452,0.259902
4,2021-07-02T00:00:00.000Z,2.335601e+12,2.395696e+12,26.907224,36.334798,0.264995

`get_fundamentals_daily()` 메서드 내에 티커를 입력하면 일간 시가총액, 기업가치, PER, PBR, PEG 정보가 JSON 형태로 받아지며, `from_records()` 메서드를 통해 데이터프레임 형태로 변경해준다.

마지막으로 재무제표를 받아보도록 하자.

In [50]:
fundamentals_stmnts = client.get_fundamentals_statements(
    'AAPL', startDate='2019-01-01', asReported=True, fmt='csv')

df_fs = pd.DataFrame([x.split(',') for x in fundamentals_stmnts.split('\n')])
df_fs.columns = df_fs.iloc[0]
df_fs = df_fs[1:]
df_fs.set_index('date', drop=True, inplace=True)
df_fs = df_fs[df_fs.index != '']

df_fs.head()

0           year quarter    statementType      dataCode          value
date
2024-05-03  2024       2  incomeStatement        intexp            0.0
2024-05-03  2024       2     balanceSheet       acctRec  41150000000.0
2024-05-03  2024       2     balanceSheet       acctPay  45753000000.0
2024-05-03  2024       2         cashFlow  issrepayDebt  -3148000000.0
2024-05-03  2024       2  incomeStatement          opex  14371000000.0

1. `get_fundamentals_statements()` 메서드 내에 티커를 입력하면 재무제표의 세부항목을 받을 수 있다. 또한 `fmt`은 포맷 형태를 의미하며, JSON으로 받을 경우 형태가 지나치게 복잡하므로 CSV로 받는 것이 좋다.
2. 텍스트 형태로 데이터가 들어오므로, 클렌징을 통해 데이터프레임 형태로 변경한다.
3. 첫번째 행을 열 이름으로 지정한 후, 해당 행은 삭제한다.
4. 'date' 열을 인덱스로 지정한다.
5. 'date'가 비어있는 부분이 있으므로 이를 제거한다.

결과를 확인해보면 연간 재무제표와 분기 재무제표의 상세 정보가 다운로드 될 뿐만 아니라 발표 날짜 또한 제공된다. 이처럼 유료 벤더를 이용하면 티커 및 주가, 재무제표, 가치지표를 매우 쉽고 빠르게 받을 수 있다. 

tiingo의 API 사용법 및 파이썬 패키지 사용법은 아래 페이지에 나와있다.

- tiingo API: https://api.tiingo.com/documentation/general/overview
- 파이썬 패키지: https://github.com/hydrosquall/tiingo-python

## 티커 수집하기

이번에는 크롤링을 통해 데이터를 수집하는 방법에 대해 알아보겠다. 우리나라는 한국거래소를 통해 티커를 손쉽게 수집할 수 있지만 해외의 경우는 그렇지 않다. 먼저 우리나라와 달리 국가 별로 거래소가 여러개인 경우도 있으며, 홈페이지에 상장 종목 리스트를 제공하지 않는 경우도 많기 때문이다. 

다행히 투자자들이 많이 참조하는 사이트인 인베스팅닷컴(https://www.investing.com/)에서는 전 세계 주식 및 각종 금융 데이터를 제공하고 있다. 이 중 스크리닝 기능을 활용하면 각 국가별 티커 리스트를 수집할 수 있다. 먼저 인베스팅닷컴에 접속한 후 [Markets → Stocks → Stock Screener]에 접속한다.

![]( image/data_global/screen.png)<br>

페이지를 접속하면 미국 종목들이 나타나며, URL은 다음과 같다. 

```
https://www.investing.com/stock-screener/?sp=country::5|sector::a|industry::a|equityType::a%3Ceq_market_cap;1
```

하단에 표로 나타는 정보 중 Symbol이 티커에 해당하며, 이를 통해 티커를 손쉽게 수집할 수 있다. 다음으로 국가를 Japan(일본)으로 선택하고, Equity Type은 ORD(보통주)를 선택하자.

![]( image/data_global/japan.png)<br>

하단의 테이블이 일본 종목들로 바뀌며 URL 역시 다음과 같이 바뀐다.

```
https://www.investing.com/stock-screener/?sp=country::35|sector::a|industry::a|equityType::ORD%3Ceq_market_cap;1
```

즉 기존 URL 중 국가에 해당하는 'country' 부분이 5에서 35로, 주식 종류에 해당하는 'equityType' 부분이 a에서 ORD로 변경되었다. 해당 페이지는 동적으로 페이지가 바뀌므로 셀레니움을 통해 크롤링을 해야한다. 예제로 미국의 보통주 전종목 정보를 크롤링 해보도록 하자.

### 미국 보통주 종목 정보와 페이지 수 계산하기

In [52]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import math
import pandas as pd

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url = 'https://www.investing.com/stock-screener/?sp=country::5|sector::a|industry::a|equityType::ORD%3Ceq_market_cap;1'
driver.get(url)

1. 먼저 크롬 드라이버를 설정한다.
2. 미국 보통주에 해당하는 URL을 입력한다.
3. 해당 페이지를 연다.

![]( image/data_global/selenium_open.png)<br>

다음으로 HTML 정보를 가져오도록 한다.

In [54]:
html = BeautifulSoup(driver.page_source, 'lxml')

HTML 정보에 해당하는 `driver.page_source`를 BeautifulSoup 객체로 만들어준다. 이제 우리가 찾고자 하는 데이터를 하나씩 살펴보도록 한다. 먼저 각 국가별 코드를 살펴보도록 하자. 개발자도구 화면에서 'newBtnDropdown noHover' 클래스 하단의 'li 태그의 'data-value' 속성을 살펴보면 국가별 코드와 국가명이 적혀있다.

![]( image/data_global/country_ticker.png)<br>

이번에는 위젯에서 선택되어 있는 국가명을 확인해보도록 하자. 'newBtnDropdown noHover' 클래스 하단의 'input' 태그의 'value' 속성의 속성명에는 국가명이 적혀 있다. 이를 코드를 통해 찾아보도록 하자.

![]( image/data_global/country_name.png)<br>

In [56]:
html.find(class_='js-search-input inputDropDown')['value']

'United States'

이번에는 종목들의 정보가 있는 테이블을 확인해보도록 하자. 클래스 명이 'genTbl openTbl resultsStockScreenerTbl elpTbl' 인 테이블 중 'tbody' 부분에 해당 데이터가 위치하고 있다. 이 정보를 이용해 해당 테이블 데이터를 선택하자.

![]( image/data_global/screen_table.png)<br>

In [58]:
html_table = html.select('table.genTbl.openTbl.resultsStockScreenerTbl.elpTbl')

In [ ]:
print(html_table[0])

![]( image/data_global/selenium_1.png)<br>

`select` 함수를 이용해 table 태그 중 해당 클래스명을 찾은 후 출력하면, 종목 정보들이 담긴 테이블의 HTML 정보가 출력된다. 이제 이를 데이터프레임 형태로 변환해보도록 하자.

In [62]:
df_table = pd.read_html(html_table[0].prettify())
df_table_result = df_table[0]

C:\Users\syahn\AppData\Local\Temp\ipykernel_29108\399715391.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_table = pd.read_html(html_table[0].prettify())

`prettify()` 메서드를 이용해 BeautifulSoup 에서 파싱한 파서 트리를 유니코드 형태로 다시 돌려준 후, `read_html()` 함수를 통해 테이블을 읽어온다. Variable Explorer 창에서 df_table_result 변수를 확인해보자.

![]( image/data_global/selenium_2.png)<br>

결과를 살펴보면 웹페이지에 있는 내역 외에도 Exchange(거래소), Sector, Industy 등 추가적인 정보를 확인할 수 있다. 이 중 필요한 열만 선택하자.

In [64]:
df_table_select = df_table[0][['Name', 'Symbol', 'Exchange',  'Sector', 'Market Cap']]
df_table_select.head()

         Name Symbol Exchange      Sector Market Cap
0   Microsoft   MSFT   NASDAQ  Technology      3.37T
1       Apple   AAPL   NASDAQ  Technology      3.28T
2      NVIDIA   NVDA   NASDAQ  Technology      3.05T
3  Alphabet C   GOOG   NASDAQ  Technology      2.30T
4  Alphabet A  GOOGL   NASDAQ  Technology      2.30T

마지막으로 종목 정보가 몇페이지까지 있는지 확인해야 한다. 웹페이지의 'Screener Results' 글자 뒤에는 해당 국가에 총 몇 종목이 있는지 출력된다. 한 페이지에는 총 50 종목이 출력되므로 해당 숫자를 50으로 나눈 후 올림을 하면 총 페이지 수를 계산할 수 있다. 해당 정보는 'js-total-results' 클래스에 위치하고 있으며, 이를 이용해 페이지 수를 계산해보도록 하자.

![]( image/data_global/country_page.png)<br>

In [66]:
end_num = driver.find_element(By.CLASS_NAME, value = 'js-total-results').text
print(math.ceil(int(end_num) / 50))

164

마지막으로 드라이브롤 종료해준다.

In [68]:
driver.quit()

### 전 종목 티커 크롤링

위 과정을 통해 국가별 전 종목의 티커 및 관련 정보를 수집하는 방법과, 페이지 수를 계산할 수 있었다. 이제 for문을 이용해 미국의 전 종목 티커를 크롤링해보도록 하겠다.

In [70]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from bs4 import BeautifulSoup
from datetime import datetime
import math
import pandas as pd
import numpy as np
from tqdm import tqdm
import time

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
nationcode = '5'
url = f'''https://investing.com/stock-screener/?sp=country::
{nationcode}|sector::a|industry::a|equityType::ORD%3Ceq_market_cap;1'''
driver.get(url)

WebDriverWait(driver, 10).until(EC.visibility_of_element_located(
    (By.XPATH, '//*[@id="resultsTable"]/tbody')))

end_num = driver.find_element(By.CLASS_NAME, value='js-total-results').text
end_num = math.ceil(int(end_num) / 50)

1. 크롬 드라이브를 불러온다.
2. 국가 코드는 미국에 해당하는 '5'를 입력한다.
3. 먼저 첫페이지에 해당하는 URL을 생성한다.
4. 셀레니움으로 해당 페이지를 연다
5. 'Screener Results'에 해당하는 부분은 종목이 들어있는 테이블이 로딩된 이후 나타난다. 따라서 `WebDriverWait()` 함수를 통해 해당 테이블이 로딩될 때까지 기다리며, 테이블의 XPATH는 '//*[@id="resultsTable"]/tbody' 이다.
6. 종목수에 해당하는 부분을 크롤링한 후, 이를 통해 페이지 수를 계산한다.

이제 for문을 통해 모든 페이지의 데이터를 크롤링해보도록 하자.

In [71]:
all_data_df = []

#for i in tqdm(range(1, end_num + 1)):
for i in tqdm(range(1, 10)):

    url = f'''https://investing.com/stock-screener/?sp=country::
        {nationcode}|sector::a|industry::a|equityType::ORD%3Ceq_market_cap;{i}'''
    driver.get(url)

    try:
        WebDriverWait(driver, 10).until(EC.visibility_of_element_located(
            (By.XPATH, '//*[@id="resultsTable"]/tbody')))
    except:
        time.sleep(1)
        driver.refresh()
        WebDriverWait(driver, 10).until(EC.visibility_of_element_located(
            (By.XPATH, '//*[@id="resultsTable"]/tbody')))

    html = BeautifulSoup(driver.page_source, 'lxml')

    html_table = html.select(
        'table.genTbl.openTbl.resultsStockScreenerTbl.elpTbl')
    df_table = pd.read_html(html_table[0].prettify())
    df_table_select = df_table[0][['Name', 'Symbol',
                                   'Exchange',  'Sector', 'Market Cap']]

    all_data_df.append(df_table_select)

    time.sleep(2)

all_data_df_bind = pd.concat(all_data_df, axis=0)

data_country = html.find(class_='js-search-input inputDropDown')['value']
all_data_df_bind['country'] = data_country
all_data_df_bind['date'] = datetime.today().strftime('%Y-%m-%d')
all_data_df_bind = all_data_df_bind[~all_data_df_bind['Name'].isnull()]
all_data_df_bind = all_data_df_bind[all_data_df_bind['Exchange'].isin(
    ['NASDAQ', 'NYSE', 'NYSE Amex'])]
all_data_df_bind = all_data_df_bind.drop_duplicates(['Symbol'])
all_data_df_bind.reset_index(inplace=True, drop=True)
all_data_df_bind = all_data_df_bind.replace({np.nan: None})

driver.quit()

  0%|                                                                                            | 0/9 [00:00<?, ?it/s]C:\Users\syahn\AppData\Local\Temp\ipykernel_29108\534007119.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_table = pd.read_html(html_table[0].prettify())
 11%|█████████▎                                                                          | 1/9 [00:05<00:42,  5.25s/it]C:\Users\syahn\AppData\Local\Temp\ipykernel_29108\534007119.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_table = pd.read_html(html_table[0].prettify())
 22%|██████████████████▋                                                                 | 2/9 [00:10<00:36,  5.19s/it]C:\Users\syahn\AppData\Local\Temp\ipykernel_29108\534007119.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_table = pd.read_html(html_table[0].prettify())
 33%|████████████████████████████                                                        | 3/9 [00:15<00:31,  5.33s/it]C:\Users\syahn\AppData\Local\Temp\ipykernel_29108\534007119.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_table = pd.read_html(html_table[0].prettify())
 44%|█████████████████████████████████████▎                                              | 4/9 [00:20<00:26,  5.24s/it]C:\Users\syahn\AppData\Local\Temp\ipykernel_29108\534007119.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_table = pd.read_html(html_table[0].prettify())
 56%|██████████████████████████████████████████████▋                                     | 5/9 [00:26<00:20,  5.16s/it]C:\Users\syahn\AppData\Local\Temp\ipykernel_29108\534007119.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_table = pd.read_html(html_table[0].prettify())
 67%|████████████████████████████████████████████████████████                            | 6/9 [00:31<00:15,  5.12s/it]C:\Users\syahn\AppData\Local\Temp\ipykernel_29108\534007119.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_table = pd.read_html(html_table[0].prettify())
 78%|█████████████████████████████████████████████████████████████████▎                  | 7/9 [00:39<00:12,  6.18s/it]C:\Users\syahn\AppData\Local\Temp\ipykernel_29108\534007119.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_table = pd.read_html(html_table[0].prettify())
 89%|██████████████████████████████████████████████████████████████████████████▋         | 8/9 [00:44<00:05,  5.86s/it]C:\Users\syahn\AppData\Local\Temp\ipykernel_29108\534007119.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_table = pd.read_html(html_table[0].prettify())
100%|████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:49<00:00,  5.54s/it]

1. 빈 리스트(all_data_df)를 생성한다.
2. for문을 통해 전체 페이지에서 종목명과 티커 등의 정보를 크롤링한다.
3. f-string을 통해 각 페이지에 해당하는 URL을 생성한 후 페이지를 연다.
4. `WebDriverWait()` 함수를 통해 테이블이 로딩될때 까지 기다린다. 또한 간혹 페이지 오류가 발생할 때가 있으므로, try except문을 이용해 오류 발생 시 1초간 기다린 후 `refresh()`를 통해 새로고침을 하여 다시 테이블이 로딩되길 기다린다.
5. HTML 정보를 불러온 후, 테이블에 해당하는 부분을 선택한다.
6. 원하는 열만 선택한다.
7. `append()` 메서드를 통해 해당 테이블을 리스트에 추가한다.
8. 2초가 일시정지를 한다.
9. for문이 끝나면 `concat()` 함수를 통해 리스트 내 모든 데이터프레임을 행으로 묶어준다.
10. 국가명에 해당하는 부분을 추출한 뒤, 'country' 열에 입력한다.
11. 'date' 열에 오늘 날짜를 입력한다.
12. 일부 종목의 경우 종목명이 빈칸으로 들어오므로 이를 제거한다.
13. 'Exchange' 열에서 거래가 가능한 거래소만 선택한다.
14. 일부 종목의 경우 중복된 결과가 들어오기도 하므로 `drop_duplicates()` 메서드를 통해 Symbol이 겹치는 경우 한개만 남겨준다.
14. `reset_index()` 메서드를 통해 인덱스를 초기화한다.
15. nan을 None으로 변경한다.
16. 드라이브롤 종료한다.

마지막으로 위 데이터프레임을 SQL에 저장해주도록 한다. 먼저 SQL에서 다음의 쿼리를 통해 테이블(global_ticker)을 만든다.

In [ ]:
use stock_db;

create table global_ticker
(
    Name varchar(50) not null,
    Symbol varchar(30),
    Exchange varchar(30),
    Sector varchar(30),
    `Market Cap` varchar(10),
    country varchar(20),    
    date date,
    primary key(Symbol, country, date)
);

위에서 구한 티커 데이터를 해당 테이블에 저장한다.

In [74]:
import pymysql

con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')

mycursor = con.cursor()
query = """
    insert into global_ticker (Name, Symbol, Exchange, Sector, `Market Cap`, country, date)
    values (%s,%s,%s,%s,%s,%s,%s) as new
    on duplicate key update
    name=new.name,Exchange=new.Exchange,Sector=new.Sector,
    `Market Cap`=new.`Market Cap`; 
"""

args = all_data_df_bind.values.tolist()

mycursor.executemany(query, args)
con.commit()

con.close()

![]( image/data_global/ticker_sql.png)<br>

```{note}
- nationcode 부분만 변경하면 모든 국가의 티커 리스트 역시 동일한 방법으로 다운로드 받을 수 있다.
```

## 주가 다운로드

야후 파이낸스에서는 전 세계 주가(한국 포함)를 제공하고 있다.

```
https://finance.yahoo.com/
```

사이트에서 종목 티커를 검색한 후 [Historical Data] 탭을 선택하면 확인 및 다운로드가 가능하다. 또한 야후 API를 통해 해당 데이터를 손쉽게 다운로드 받을 수 있는 패키지들이 있으므로, 이를 이용해 먼저 애플(AAPL)의 주가를 다운로드 받아보도록 하자.

### 애플(AAPL) 주가 다운로드

![]( image/data_global/yahoo_price.png)<br>

In [78]:
import yfinance as yf

price =  yf.download('AAPL')
price.head()

[*********************100%%**********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close     Volume
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348   0.099058  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652   0.093890  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723   0.086999  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513   0.089152   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862   0.091737   73449600

yfinance 패키지의 `download()` 함수 내에 티커를 입력하면 주가 정보를 매우 손쉽게 받을 수 있다. [1 of 1 completed] 부분에 해당하는 진행과정을 출력하고 싶지 않을 시, `progress=False` 인자를 추가하면 된다.

In [80]:
price = yf.download('AAPL', progress = False)

`start` 인자를 추가하면 데이터 다운로드 기간을 변경할 수도 있다. 2000년 1월 1일부터 데이터를 받는법은 다음가 같다.

In [82]:
price = yf.download('AAPL', start = '2000-01-01', progress = False)
price.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2000-01-03  0.936384  1.004464  0.907924  0.999442   0.844981  535796800
2000-01-04  0.966518  0.987723  0.903460  0.915179   0.773740  512377600
2000-01-05  0.926339  0.987165  0.919643  0.928571   0.785063  778321600
2000-01-06  0.947545  0.955357  0.848214  0.848214   0.717125  767972800
2000-01-07  0.861607  0.901786  0.852679  0.888393   0.751094  460734400

미국이 아닌 국가의 경우 단순히 티커만 입력할 경우 데이터를 받을 수 없다. 예를 들어 일본의 '도쿄 일렉트론'은 일본 내에서 티커가 '8035'이며, 야후 파이낸스에서 이를 검색해보자.

![]( image/data_global/same_ticker.png)<br>

우리가 원하는 도쿄 일렉트론 뿐만 아니라 홍콩에 상장된 'Janco Holdings Limited'라는 주식 역시 티커가 8035 이다. 이처럼 각기 다른 국가에서 중복된 티커가 사용되는 경우가 종종 발생되므로, 야후 파이낸스 혹은 여러 벤더의 경우 '티커.국가코드' 형태를 통해 이들을 구분한다. 야후 파이낸스에서 일본의 국가코드는 'T' 이다. 이를 이용해 도쿄 일렉트론의 주가를 받는 법은 다음과 같다.

In [84]:
price = yf.download("8035.T", progress = False)
price.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-04,4600.000000,4666.666504,4296.666504,4336.666504,2902.225586,693000
2000-01-05,3836.666748,4046.666748,3673.333252,3983.333252,2665.764893,2016000
2000-01-06,4000.000000,4200.000000,3666.666748,3673.333252,2458.303467,2064000
2000-01-07,3600.000000,3843.333252,3510.000000,3640.000000,2435.996094,3609000
2000-01-10,3640.000000,3640.000000,3640.000000,3640.000000,2435.996094,0

```{note}
- 미국의 경우는 국가코드가 필요없이 단순히 티커만 입력하면 된다.
- 국내 주가 역시 야후 파이낸스를 통해 다운로드 받을 수 있다. 그러나 일부 중소형주의 경우 데이터가 존재하지 않는 문제가 있어 국내 사이트를 이용해 수집하는 것을 권장한다.
```

### 전 종목 주가 다운로드

미국 데이터 역시 국내 전종목 주가를 다운로드 받고 DB에 저장했던것과 동일하게 for문을 이용하면 된다. 먼저 SQL에서 주가 데이터에 해당하는 테이블(global_price)를 만든다.

In [ ]:
use stock_db;

create table global_price
(
    Date date,
    High double,
    Low double,
    Open double,
    Close double,
    Volume double,
    `Adj Close` double,
    ticker varchar(20),
    primary key(Date, ticker)
);

파이썬에서 아래 코드를 실행하면 for문을 통해 전종목 주가가 DB에 저장된다.

In [86]:
# 패키지 불러오기
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import yfinance as yf
import time
from tqdm import tqdm

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')

mycursor = con.cursor()

# 티커리스트 불러오기
ticker_list = pd.read_sql("""
select * from global_ticker
where date = (select max(date) from global_ticker)
and country = 'United States';
""", con=engine)

# DB 저장 쿼리
query = """
    insert into global_price (Date, High, Low, Open, Close, Volume, `Adj Close`, ticker)
    values (%s, %s,%s,%s,%s,%s,%s,%s) as new
    on duplicate key update
    High = new.High, Low = new.Low, Open = new.Open, Close = new.Close,
    Volume = new.Volume, `Adj Close` = new.`Adj Close`;
"""

# 오류 발생시 저장할 리스트 생성
error_list = []

# 전종목 주가 다운로드 및 저장
#for i in tqdm(range(0, len(ticker_list))):
for i in tqdm(range(0, 10)):

    # 티커 선택
    ticker = ticker_list['Symbol'][i]

    # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:

        # 주가 다운로드
        price = yf.download(ticker, progress=False)

        # 데이터 클렌징
        price = price.reset_index()
        price['ticker'] = ticker

        # 주가 데이터를 DB에 저장
        args = price.values.tolist()
        mycursor.executemany(query, args)
        con.commit()

    except:

        # 오류 발생시 error_list에 티커 저장하고 넘어가기
        print(ticker)
        error_list.append(ticker)

    # 타임슬립 적용
    time.sleep(2)

# DB 연결 종료
engine.dispose()
con.close()

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:57<00:00,  5.70s/it]

1. DB에 연결한다.
2. 기준일이 최대, 즉 최근일 기준 보통주에 해당하며, 미국 종목의 리스트(ticker_list)만 불러온다.
3. DB에 저장할 쿼리(query)를 입력한다.
4. 페이지 오류, 통신 오류 등 오류가 발생한 티커명을 저장할 리스트(error_list)를 만든다.
5. for문을 통해 전종목 주가를 다운로드 받으며, 진행상황을 알기위해 `tqdm()` 함수를 이용한다.
6. `download()` 함수를 통해 야후 파이낸스에서 주가를 받은 후 클렌징 처리한다. 그 후 주가 데이터를 DB에 저장한다.
7. `try except`문을 통해 오류가 발생시 'error_list'에 티커를 저장한다.
8. 무한 크롤링을 방지하기 위해 한 번의 루프가 끝날 때마다 타임슬립을 적용한다.
9. 모든 작업이 끝나면 DB와의 연결을 종료한다.

![]( image/data_global/sql_price.png)<br>

작업이 종료된 후 'error_list'에는 오류가 발생해 다운로드 받지 못한 종목들이 입력되어 있다. 이는 페이지 오류나 통신 오류 때문일 수도 있으며, 인베스팅닷컴에는 존재하지만 야후 파이낸스에는 존재하지 않는 종목일 수도 있다.

```{note}
미국이 아닌 타 국가의 경우 티커의 중복 방지를 위해 ticker 열에 국가코드도 함께 입력한 후 DB에 저장하는 것을 추천한다.
```

## 재무제표 다운로드

재무제표 역시 야후 파이낸스에서 구할 수 있으며, [Financials] 탭을 클릭하면 연간 및 분기 기준 재무제표를 제공하고 있다. 해당 데이터를 다운로드 받을 수 있는 여러 패키지가 존재하며, 본 책에서는 그 중에서 yahooquery 패키지를 사용하도록 하겠다. 해당 패키지의 자세한 설명은 아래 사이트에서 확인할 수 있다. 예시로 애플(AAPL)의 종목정보 및 재무제표를 받아보도록 하겠다.

```
https://yahooquery.dpguthrie.com/
```

![]( image/data_global/yahoo_fs.png)<br>

In [88]:
from yahooquery import Ticker
import numpy as np

data = Ticker('AAPL')
data.asset_profile

{'AAPL': {'address1': 'One Apple Park Way',
  'city': 'Cupertino',
  'state': 'CA',
  'zip': '95014',
  'country': 'United States',
  'phone': '408 996 1010',
  'website': 'https://www.apple.com',
  'industry': 'Consumer Electronics',
  'industryKey': 'consumer-electronics',
  'industryDisp': 'Consumer Electronics',
  'sector': 'Technology',
  'sectorKey': 'technology',
  'sectorDisp': 'Technology',
  'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
  'fullTimeEmployees': 150000,
  'companyOfficers': [{'maxAge': 1,
    'name': 'Mr. Timothy D. Cook',
    'age': 62,
    'title': 'CEO & Director',
    'yearBorn': 1961,
    'fiscalYear': 2023,
    'totalPay': 16239562,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Luca  Maestri',
    'age': 60,
    'title': 'CFO & Senior VP',
    'yearBorn': 1963,
    'fiscalYear': 2023,
    'totalPay': 4612242,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Jeffrey E. Williams',
    'age': 59,
    'title': 'Chief Operating Officer',
    'yearBorn': 1964,
    'fiscalYear': 2023,
    'totalPay': 4637585,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Ms. Katherine L. Adams',
    'age': 59,
    'title': 'Senior VP, General Counsel & Secretary',
    'yearBorn': 1964,
    'fiscalYear': 2023,
    'totalPay': 4618064,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': "Ms. Deirdre  O'Brien",
    'age': 56,
    'title': 'Senior Vice President of Retail',
    'yearBorn': 1967,
    'fiscalYear': 2023,
    'totalPay': 4613369,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Chris  Kondo',
    'title': 'Senior Director of Corporate Accounting',
    'fiscalYear': 2023,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. James  Wilson',
    'title': 'Chief Technology Officer',
    'fiscalYear': 2023,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Suhasini  Chandramouli',
    'title': 'Director of Investor Relations',
    'fiscalYear': 2023,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Greg  Joswiak',
    'title': 'Senior Vice President of Worldwide Marketing',
    'fiscalYear': 2023,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Adrian  Perica',
    'age': 49,
    'title': 'Head of Corporate Development',
    'yearBorn': 1974,
    'fiscalYear': 2023,
    'exercisedValue': 0,
    'unexercisedValue': 0}],
  'auditRisk': 6,
  'boardRisk': 1,
  'compensationRisk': 2,
  'shareHolderRightsRisk': 1,
  'overallRisk': 1,
  'governanceEpochDate': '2024-06-01 09:00:00',
  'compensationAsOfEpochDate': '2023-12-31 09:00:00',
  'irWebsite': 'http://investor.apple.com/',
  'maxAge': 86400}}

yahooquery 패키지의 `Ticker()` 함수내에 티커를 입력하면, 해당 종목에 대한 각종 정보를 받을 수 있다. 먼저 `asset_profile` 부분에는 기업에 대한 정보가 나타난다.

In [90]:
data.summary_detail

{'AAPL': {'maxAge': 1,
  'priceHint': 2,
  'previousClose': 213.25,
  'open': 214.63,
  'dayLow': 212.35,
  'dayHigh': 215.7395,
  'regularMarketPreviousClose': 213.25,
  'regularMarketOpen': 214.63,
  'regularMarketDayLow': 212.35,
  'regularMarketDayHigh': 215.7395,
  'dividendRate': 1.0,
  'dividendYield': 0.0047,
  'exDividendDate': '2024-05-10 09:00:00',
  'payoutRatio': 0.14930001,
  'fiveYearAvgDividendYield': 0.71,
  'beta': 1.25,
  'trailingPE': 33.34891,
  'forwardPE': 29.369,
  'volume': 49566822,
  'regularMarketVolume': 49566822,
  'averageVolume': 68123254,
  'averageVolume10days': 92762300,
  'averageDailyVolume10Day': 92762300,
  'bid': 213.87,
  'ask': 213.95,
  'bidSize': 100,
  'askSize': 200,
  'marketCap': 3283030900736,
  'fiftyTwoWeekLow': 164.08,
  'fiftyTwoWeekHigh': 220.2,
  'priceToSalesTrailing12Months': 8.602812,
  'fiftyDayAverage': 189.8298,
  'twoHundredDayAverage': 183.52425,
  'trailingAnnualDividendRate': 0.96,
  'trailingAnnualDividendYield': 0.0045017586,
  'currency': 'USD',
  'fromCurrency': None,
  'toCurrency': None,
  'lastMarket': None,
  'coinMarketCapLink': None,
  'algorithm': None,
  'tradeable': False}}

`summary_detail` 부분에는 가격, 배당, 밸류에이션 등 주요 지표가 나타난다.

In [92]:
data.history().head()

                         open        high         low       close    volume  \
symbol date
AAPL   2024-01-02  187.149994  188.440002  183.889999  185.639999  82488700
       2024-01-03  184.220001  185.880005  183.429993  184.250000  58414500
       2024-01-04  182.149994  183.089996  180.880005  181.910004  71983600
       2024-01-05  181.990005  182.759995  180.169998  181.179993  62303300
       2024-01-08  182.089996  185.600006  181.500000  185.559998  59144500

                     adjclose  dividends
symbol date
AAPL   2024-01-02  185.152283        0.0
       2024-01-03  183.765945        0.0
       2024-01-04  181.432098        0.0
       2024-01-05  180.703995        0.0
       2024-01-08  185.072495        0.0

`history()` 부분을 통해 주가를 받을 수도 있다.

재무제표 데이터의 경우 `data.balance_sheet()`, `data.cash_flow()`, `data.income_statement()` 을 통해 재무상태표, 현금흐름표, 손익계산서를 각각 받을 수도 있지만, `data.all_financial_data()`을 통해 세 개의 테이블을 한 번에 받을 수도 있다.

In [94]:
data_y = data.all_financial_data(frequency = 'a')
data_y

,asOfDate,periodType,currencyCode,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,AvailableForSaleSecurities,BasicAverageShares,BasicEPS,BeginningCashPosition,...,TotalEquityGrossMinorityInterest,TotalExpenses,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest,TotalOperatingIncomeAsReported,TotalRevenue,TradeandOtherPayablesNonCurrent,TreasurySharesNumber,WorkingCapital
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,2019-09-30,12M,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AAPL,2020-09-30,12M,USD,4.229600e+10,1.612000e+10,-6.676000e+10,1.008870e+11,1.735212e+10,3.31,5.022400e+10,...,6.533900e+10,2.082270e+11,2.585490e+11,1.801750e+11,1.531570e+11,6.628800e+10,2.745150e+11,2.817000e+10,NaN,3.832100e+10
AAPL,2021-09-30,12M,USD,5.476300e+10,2.627800e+10,-7.028300e+10,1.278770e+11,1.670127e+10,5.67,3.978900e+10,...,6.309000e+10,2.568680e+11,2.879120e+11,2.161660e+11,1.624310e+11,1.089490e+11,3.658170e+11,2.468900e+10,NaN,9.355000e+09
AAPL,2022-09-30,12M,USD,6.411500e+10,2.818400e+10,-7.234000e+10,1.208050e+11,1.621596e+10,6.15,3.592900e+10,...,5.067200e+10,2.748910e+11,3.020830e+11,2.173500e+11,1.481010e+11,1.194370e+11,3.943280e+11,1.665700e+10,NaN,-1.857700e+10
AAPL,2023-09-30,12M,USD,6.261100e+10,2.950800e+10,-7.088400e+10,1.005440e+11,1.574423e+10,6.16,2.497700e+10,...,6.214600e+10,2.689840e+11,2.904370e+11,2.090170e+11,1.451290e+11,1.143010e+11,3.832850e+11,1.545700e+10,0.0,-1.742000e+09

`all_financial_data()`를 입력하면 세 개의 재무제표를 한 번에 받을 수 있으며, 인자에 `frequency = 'a'`를 입력하면 연간(annual) 재무제표를 받는다. 이는 가로로 긴 형태이므로 클렌징처리를 해주도록 한다.

In [96]:
data_y.reset_index(inplace = True)
data_y = data_y.loc[:, ~data_y.columns.isin(['periodType', 'currencyCode'])]
data_y = data_y.melt(id_vars = ['symbol', 'asOfDate'])
data_y = data_y.replace([np.nan], None)
data_y['freq'] = 'y'
data_y.columns = ['ticker', 'date', 'account', 'value', 'freq']

data_y.head()

  ticker       date          account          value freq
0   AAPL 2019-09-30  AccountsPayable           None    y
1   AAPL 2020-09-30  AccountsPayable  42296000000.0    y
2   AAPL 2021-09-30  AccountsPayable  54763000000.0    y
3   AAPL 2022-09-30  AccountsPayable  64115000000.0    y
4   AAPL 2023-09-30  AccountsPayable  62611000000.0    y

1. 인덱스를 초기화한다.
2. 불필요한 열을 제외한다.
3. `melt()` 함수를 통해 세로로 긴 형태로 만든다.
4. nan을 None으로 변경한다.
5. freq 열에 연간에 해당하는 'y'를 입력한다.
6. 열 이름을 변경한다.

이처럼 해외 종목의 재무제표 데이터도 매우 쉽게 다운로드 받을 수 있다. 분기별 재무제표를 받는법도 위와 같으며, 인자만 `frequency = 'q'`로 변경하면 된다.

In [98]:
data_q = data.all_financial_data(frequency = 'q')
data_q.reset_index(inplace = True)
data_q = data_q.loc[:, ~data_q.columns.isin(['periodType', 'currencyCode'])]
data_q = data_q.melt(id_vars = ['symbol', 'asOfDate'])
data_q = data_q.replace([np.nan], None)
data_q['freq'] = 'q'
data_q.columns = ['ticker', 'date', 'account', 'value', 'freq']

data_q.head()

  ticker       date          account          value freq
0   AAPL 2022-09-30  AccountsPayable           None    q
1   AAPL 2022-12-31  AccountsPayable           None    q
2   AAPL 2023-03-31  AccountsPayable  42945000000.0    q
3   AAPL 2023-06-30  AccountsPayable  46699000000.0    q
4   AAPL 2023-09-30  AccountsPayable  62611000000.0    q

### 전 종목 재무제표 다운로드

for문을 이용하여 전 종목 재무제표를 다운로드 받도록 하겠다. 먼저 SQL에서 재무제표 데이터에 해당하는 테이블(global_fs)를 만든다.

In [ ]:
use stock_db;

create table global_fs
(
    ticker varchar(20),        
    date date,
    account varchar(100),
    value double,
    freq varchar(1),
    
    primary key(ticker, date, account, freq)
);

이제 파이썬에서 아래 코드를 실행하면 for문을 통해 전 종목 재무제표가 DB에 저장된다.

In [100]:
# 패키지 불러오기
from sqlalchemy import create_engine
import pymysql
import pandas as pd
from yahooquery import Ticker
import time
from tqdm import tqdm
import numpy as np

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')

mycursor = con.cursor()

# 티커리스트 불러오기
ticker_list = pd.read_sql("""
select * from global_ticker
where date = (select max(date) from global_ticker)
and country = 'United States';
""", con=engine)

# DB 저장 쿼리
query_fs = """
    insert into global_fs (ticker, date, account, value, freq)
    values (%s,%s,%s,%s,%s) as new
    on duplicate key update
    value = new.value;
"""

# 오류 발생시 저장할 리스트 생성
error_list = []

# 전종목 재무제표 다운로드 및 저장
#for i in tqdm(range(0, len(ticker_list))):
for i in tqdm(range(0, 10)):

    # 티커 선택
    ticker = ticker_list['Symbol'][i]

    # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:

        #  정보 다운로드
        data = Ticker(ticker)
        
        # 연간 재무제표
        data_y = data.all_financial_data(frequency = 'a')
        data_y.reset_index(inplace = True)
        data_y = data_y.loc[:, ~data_y.columns.isin(['periodType', 'currencyCode'])]
        data_y = data_y.melt(id_vars = ['symbol', 'asOfDate'])
        data_y = data_y.replace([np.nan], None)
        data_y['freq'] = 'y'
        data_y.columns = ['ticker', 'date', 'account', 'value', 'freq']
        
        
        # 분기 재무제표
        data_q = data.all_financial_data(frequency = 'q')
        data_q.reset_index(inplace = True)
        data_q = data_q.loc[:, ~data_q.columns.isin(['periodType', 'currencyCode'])]
        data_q = data_q.melt(id_vars = ['symbol', 'asOfDate'])
        data_q = data_q.replace([np.nan], None)
        data_q['freq'] = 'q'
        data_q.columns = ['ticker', 'date', 'account', 'value', 'freq']
        
        # 데이터 합치기
        data_fs = pd.concat([data_y, data_q], axis=0)

        # 재무제표 데이터를 DB에 저장
        args = data_fs.values.tolist()
        mycursor.executemany(query_fs, args)
        con.commit()

    except:

        # 오류 발생시 error_list에 티커 저장하고 넘어가기
        print(ticker)
        error_list.append(ticker)

    # 타임슬립 적용
    time.sleep(2)

# DB 연결 종료
engine.dispose()
con.close()

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [01:08<00:00,  6.85s/it]

1. DB에 연결한다.
2. 기준일이 최대, 즉 최근일 기준 보통주에 해당하며, 미국 종목의 리스트(ticker_list)만 불러온다.
3. DB에 저장할 쿼리(query)를 입력한다.
4. 페이지 오류, 통신 오류 등 오류가 발생한 티커명을 저장할 리스트(error_list)를 만든다.
5. for문을 통해 전종목 재무제표를 다운로드 받으며, 진행상황을 알기위해 tqdm() 함수를 이용한다.
6. `Ticker()` 함수를 이용해 종목 데이터를 받은 후 연간 및 분기 재무제표를 구한다. 
7. 이후, 두 테이블을 concat() 함수를 통해 행으로 묶어준다.
8. 재무제표 데이터를 DB에 저장한다.
9. 무한 크롤링을 방지하기 위해 한 번의 루프가 끝날 때마다 타임슬립을 적용한다.
10. 모든 작업이 끝나면 DB와의 연결을 종료한다.

![]( image/data_global/sql_fs.png)<br>

```{note}
미국 종목들의 가치지표는 국내 재무제표 데이터를 이용해 가치지표를 계산했던 것과 동일한 방법으로 계산할 수 있으므로, 이는 생략하도록 한다.
```